<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCFt3clkQsktcsz1RvyW-ak7Q4UKyY-CNI</string>
	<key>GCM_SENDER_ID</key>
	<string>116151259693</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.boopannachai.zella.dev</string>
	<key>PROJECT_ID</key>
	<string>zella-dev-f446c</string>
	<key>STORAGE_BUCKET</key>
	<string>zella-dev-f446c.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:116151259693:ios:9a2e47e527f7136e571ea4</string>
</dict>
</plist>