<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.116151259693-94r1ua9g2j7us3v565uj8kftsepo9igq</string>
				<string>com.googleusercontent.apps.610693088597-81in4ac4p8dok9tp219dbo95h995kt4e</string>
				<string>fb763019453516238</string>
			</array>
		</dict>
	</array>
	<key>FacebookAppID</key>
	<string>$(FACEBOOK_APP_ID)</string>
	<key>FacebookClientToken</key>
	<string>$(FACEBOOK_CLIENT_TOKEN)</string>
	<key>FacebookDisplayName</key>
	<string>ZELLA</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fb-messenger-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>Font Awesome 7 Brands-Regular-400.otf</string>
		<string>Font Awesome 7 Free-Regular-400.otf</string>
		<string>Font Awesome 7 Free-Solid-900.otf</string>
		<string>Roboto-Regular.ttf</string>
		<string>Roboto-Medium.ttf</string>
		<string>Roboto-SemiBold.ttf</string>
		<string>Roboto-Bold.ttf</string>
		<string>Roboto-ExtraBold.ttf</string>
	</array>
</dict>
</plist>
