
buildServer.json

ZELLA.xcodeproj/project.xcworkspace/xcuserdata/boopannachai.xcuserdatad/UserInterfaceState.xcuserstate

functions/src/config.ts

firepit-log.txt

ZELLA/GoogleService-Info-*.plist
ZELLA/GoogleService-Info-Dev.plist
ZELLA/GoogleService-Info-Prod.plist

# xcconfig files with secrets
Config.Dev.xcconfig
Config.Prod.xcconfig
ZELLA.xcodeproj/xcuserdata/boopannachai.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
